$fontColorIntroPage:rgb(236, 235, 235);
$familyIntroPage:'Inconsolata',
sans-serif;
$bgElementIntroPage:#EB8500;
$basicBackground:#D95240;

//select category 
$dark: #292929;
$light: #efefef;
$font-stack: "Lato",
sans-serif;
$small: 40em;

// html { overflow-x:auto; overflow-y:scroll; }

body {
    margin: 0;
    padding: 0;
    background-color: $basicBackground;
    max-width: 100%;
    max-height: 100%;
}

//style introduction page
.page-start {
    display: inline;
}

.user-form {
    display: flex;
    flex-direction: column;
}

.img-logo {
    background-image: url('../img/logo.png');
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 150px;
    margin: auto;
    display: flex;
    opacity: 1;
    transition: 1500ms;
}

.info-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-text h3 {
    text-align: center;
}

.welcome-section-line {
    width: 95%;
    height: 2px;
    background-color: #fff;
    border-radius: 40px;
    margin-top: -22px;
}

.info-text .welcome-section h2 {
    font-size: 2.2em;
}

.info-text h3,
.info-text h2 {
    color: $fontColorIntroPage;
    font-family: $familyIntroPage;
}

.info-text label {
    margin-top: 30px;
    margin-bottom: 10px;
    color: $fontColorIntroPage;
    font-family: $familyIntroPage;
}

.info-text .input-nick {
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: rgb(255, 235, 232);
}

.input-nick-label {
    font-size: 1.4em;
    padding-bottom: 7px;
}

//section arrow-box
.empty-space {
    height: 24px;
    display: none;
}

.arrow-box {
    position: relative;
    background: $bgElementIntroPage;
    padding: 6px;
    border-radius: 3px;
    margin-bottom: 17px;
    color: $fontColorIntroPage;
    font-family: $familyIntroPage;
    display: none;
}

.arrow-box:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(235, 133, 0, 0);
    border-top-color: $bgElementIntroPage;
    border-width: 15px;
    margin-left: -15px;
}

.arrow-box span {
    font-size: 1.4em;
}

.smile-icon {
    width: 20px;
    height: 20px;
}

//end of the section arrow-box

//select category
.select-category-text {
    font-family: $familyIntroPage;
    color: $fontColorIntroPage;
    font-size: 1.4em;
    padding-bottom: 7px;
}

.container {
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
}

.button-wrap {
    position: relative;
    text-align: center;
    top: 50%;
    margin-top: -2.5em;

    @media (max-width: $small) {
        margin-top: -1.5em;
    }
}

.button-label {
    display: inline-block;
    padding: 0.4em 2em;
    margin: 0.5em;
    cursor: pointer;
    color: $light;
    border-radius: 0.25em;
    background: $dark;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.22);
    transition: 0.3s;
    user-select: none;

    h1 {
        font-size: 1em;
        font-family: $font-stack;
    }

    &:hover {
        background: $bgElementIntroPage;
        color: darken($light, 10%);
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.32);
    }

    &:active {
        transform: translateY(2px);
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0px -1px 0 rgba(0, 0, 0, 0.22);
    }

    @media (max-width: $small) {
        padding: 0em 1em 3px;
        margin: 0.25em;
    }
}

#his-button:checked+.button-label {
    background: $bgElementIntroPage;
    color: $light;

    &:hover {
        background: darken($bgElementIntroPage, 5%);
        color: darken($light, 5%);
    }
}

#geo-button:checked+.button-label {
    background: $bgElementIntroPage;
    color: $light;

    &:hover {
        background: darken($bgElementIntroPage, 5%);
        color: darken($light, 5%);
    }
}

.hidden {
    display: none;
}

///////////////

.basic-button {
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    outline: 0;
    -webkit-appearance: none;
    display: inline-block;
    position: relative;
    padding: 15px 33px;
    top: 0;
    font-size: 1.3em;
    font-family: "Open Sans", Helvetica;
    border-radius: 4px;
    background: $bgElementIntroPage;
    color: $fontColorIntroPage;
    transform: translateZ(0);
    transition: all 0.2s ease;
    font-family: $familyIntroPage;
}

.basic-button:hover {
    top: -5px;
    transform: rotateX(20deg);
}

.basic-button:active {
    top: 0px;
}

.start-quiz-button {
    margin-top: 40px;
    border-bottom: 1px solid rgb(202, 121, 14);
    background: $bgElementIntroPage;
    box-shadow: 0px 0px 0px rgba(202, 121, 14, 0.1);
}

.start-quiz-button:hover {
    box-shadow: 0px 10px 10px rgba(202, 121, 14, 0.2);
}

.start-quiz-button:active {
    box-shadow: 0px 0px 0px rgba(202, 121, 14, 0.0);
    background: rgb(202, 121, 14);
}

//section question and answer
@keyframes timerEnd {
    0% {}

    50% {
        background: rgba(248, 17, 17, 0.459)
    }

    100% {}
}

.timer-border {
    border: 1px solid rgb(202, 64, 45);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    position: absolute;
    left: 77%;
    top: 3%;
}

.timer-animation {
    z-index: 2;
    animation: timerEnd 1s infinite;
}

.timer {
    position: absolute;
    left: 77%;
    top: 3%;
}

.timer-content {
    display: block;
    width: 50px;
    height: 50px;

}

.timer-border {
    fill: rgb(202, 64, 45);
}

.timer-loader {
    fill: #ffd1ff;

}

@keyframes showQuestion {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.pre-animation {
    opacity: 0;
}

.page-main-content {
    display: none;
    animation: showQuestion 1s;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.page-questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.question-number h3 {
    font-family: $familyIntroPage;
    font-size: 1.5em;
    color: $fontColorIntroPage;
}

.content-question {
    position: relative;
}

.content-question p {
    font-family: $familyIntroPage;
    font-size: 1.2em;
    color: $fontColorIntroPage;
    text-align: center;
    padding: 0 10px 0 10px;
}

.content-answer {
    opacity: 0;
}

.content-answer ul li {
    width: 300px;
    height: 50px;
    list-style: none;
    padding-bottom: 10px;
    margin-left: -90px;
    position: relative;
}

.content-answer ul li:last-child {
    padding-bottom: 0;
}

.content-answer ul li a {
    position: absolute;
    text-decoration: none;
    font-family: $familyIntroPage;
    font-size: 1em;
    color: $fontColorIntroPage;
    top: 20px;
    left: 30%;
    width: 50%;
    background-color: $bgElementIntroPage;
    border-radius: 3px;
    padding: 10px 20px 10px 20px;
    border: 1px solid $bgElementIntroPage;
    text-align: center;
}

.content-answer ul li a:hover {
    animation: questionHover 300ms forwards;
    border: 1px solid $fontColorIntroPage
}

@keyframes questionHover {
    0% {}

    100% {
        background-color: $basicBackground
    }
}

.answer-1 a {}

.answer-2 a {}

.answer-3 a {}

.answer-4 a {}

.button-next-question {
    margin-top: 50px;
    border-bottom: 1px solid rgb(192, 27, 22);
    ;
    background: rgb(247, 50, 44);
    box-shadow: 0px 0px 0px rgba(192, 27, 22, 0.1);
    margin-left: 18px;
}

.button-next-question:hover {
    box-shadow: 0px 10px 10px rgba(192, 27, 22, 0.2);
}

.button-next-question:active {
    box-shadow: 0px 0px 0px rgba(192, 27, 22, 0.0);
    background: rgb(226, 35, 28);
}

// Loader
.loader-section-questions {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.loader-section-ranking {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    margin: -3px 0 0 -3px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

//results
.points-amount {
    position: absolute;
    right: -20px;
}

.page-ranking {
    overflow: hidden;
    display: flex;
    width: 100%;
    justify-content: center;
    display: none;
    opacity: 1;
    transition: opacity 1500ms;
    margin-top: 5px;
    margin-bottom: -15px;
}

.ranking-cont {
    max-width: 400px;
    padding: 3rem;
    background-color: rgba(221, 184, 63, 0.63);
    box-shadow: 1px 0px 2px rgb(204, 154, 18);
    border-radius: 3px;
    width: 50%;
    --notchSize: 20px;
    position: relative;
    clip-path:
        polygon(0% var(--notchSize),
        var(--notchSize) 0%,
        calc(100% - var(--notchSize)) 0%,
        100% var(--notchSize),
        100% calc(100% - var(--notchSize)),
        calc(100% - var(--notchSize)) 100%,
        var(--notchSize) 100%,
        0% calc(100% - var(--notchSize)));
}

.ranking-cont p {
    font-family: $familyIntroPage;
    color: rgba(0, 0, 0, 0.692);
    font-size: 2.5em;
    margin-top: -30px;
    margin-left: -20px;
}

//close button
.close-ranking {
    right: 0;
    top: -27%;
    margin-left: 90%;
    margin-top: -10%;
    cursor: pointer;
}

.close-ranking {
    $size: 50px;
    width: 28px;
    height: 28px;
    position: relative;
    box-sizing: border-box;
    line-height: $size;
    display: block;

    &:before,
    &:after {
        $width: 40px;
        $height: 8px;
        transform: rotate(-45deg);
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -$height/2;
        margin-left: -$width/2;
        display: block;
        height: $height;
        width: $width;
        background-color: #292525;
        transition: all 0.25s ease-out;
        border-radius: 10px;
    }

    &:after {
        transform: rotate(-135deg);
    }

    &:hover {

        &:before,
        &:after {
            transform: rotate(0deg);
        }
    }
}

.ranking-list {
    margin-top: -20px;
    opacity: 0
}

.ranking-list li {
    list-style: none;
    font-family: $familyIntroPage;
    font-size: 1.5em;
    margin-left: 0;
    padding: 5px;
    color: rgba(0, 0, 0, 0.692);
    position: relative;
}

.ranking-list li span {
    margin-left: 10px;
}

.page-result {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    flex-direction: column;
    align-items: center;
    display: none;
    animation: showQuestion 1s;
}

.amount-of-points {
    font-size: 1.8em;
    font-family: $familyIntroPage;
    color: $fontColorIntroPage;
}

//icon-result
.face-ico-box {
    position: relative;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    margin-top: -20px;
    display: flex;
}

.face-ico {
    width: 100px;
    height: 100px;
    margin: 30px 0 50px 0;
    position: absolute;
}

.happy-ico {
    background-image: url('../img/happy-ico.png');
    background-size: cover;
}

.indifferent-ico {
    background-image: url('../img/indifferent-ico.png');
    background-size: cover;
}

.sad-ico {
    background-image: url('../img/sad-ico.png');
    background-size: cover;
}

//end icon-result
.result-hide {
    display: none
}

.result-show {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(221, 184, 63, 0.63);
    width: 100vw;
    box-shadow: 1px 0px 2px rgb(204, 154, 18);
    margin-top: 50px;
}

.shadow {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;

}

.result-show p {
    text-align: center;
    font-family: $familyIntroPage;
    font-size: 1.2em;
    color: $fontColorIntroPage;
    margin-top: 50px;
    padding: 0 20px 0 20px;
}

.result-show b {
    text-align: center;
    font-family: $familyIntroPage;
    font-size: 2em;
    color: $fontColorIntroPage;
    padding-top: 10px;
}

.result-line {
    width: 100%;
    height: 2px;
    margin-top: 5px;
    background-color: $fontColorIntroPage;
}

//ranking

.ranking-btn {
    margin-top: 50px;
    border-bottom: 1px solid rgb(250, 203, 202);
    ;
    background: rgb(247, 50, 44);
    box-shadow: 0px 0px 0px rgba(192, 27, 22, 0.1);
}

.ranking-btn:hover {
    box-shadow: 0px 10px 10px rgba(192, 27, 22, 0.2);
}

.ranking-btn:active {
    box-shadow: 0px 0px 0px rgba(192, 27, 22, 0.0);
    background: rgb(226, 35, 28);
}

//desktop

@media only screen and (min-width:1000px) {

    //start page
    .welcome-section {
        margin-bottom: 30px;
    }

    //questions
    .question-number h3 {
        font-size: 2em;
    }

    .content-question p {
        font-size: 1.7em;
    }

    .content-answer ul li a {
        font-size: 1.1em;
    }

    .amount-of-points {
        font-size: 2.2em;
    }

    //result
    .result-show {
        width: 85vw;
        border-radius: 2px;
    }

    .amount-of-points {
        margin-top: 30px;
    }

    .ranking-btn {
        margin-top: 10vw;
    }
}

@media only screen and (min-width:580px) {
    .close-ranking {
        top: -20%;
    }
}

@media only screen and (min-width:1400px) {
    .close-ranking {
        top: -20%;
    }

    .img-logo {
        margin-top: 50px;
    }

    .timer-border {
        top: 9%;
    }

    .timer {
        top: 9%;
    }

    .page-questions {
        margin-top: 60px;
    }
}

@media only screen and (max-width:600px) {

    .input-nick-label,
    .select-category-text {
        font-size: 1em;
    }

    .ranking-list li {
        margin-left: -50px;
    }

    .img-logo {
        width: 100px;
        height: 100px;
    }
}

@media only screen and (max-width:500px) {
    .basic-button {
        margin-bottom: 10px;
    }

    .close-ranking {
        display: none;
    }

    .ranking-cont p {
        font-size: 1.3em;
        padding-bottom: 5px;
    }

    .info-text h3 {
        font-size: 1.1em;
    }

    .start-quiz-button {
        margin-top: 80px;
    }
}